video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

#gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% -20%,
      rgba(255, 255, 255, 0),
      rgba(251, 251, 251, 0),
      rgba(224, 224, 224, 0),
      rgba(154, 154, 154, 0),
      rgba(49, 49, 49, .5),
      rgba(3, 3, 3),
      rgba(0, 0, 0),
      rgba(0, 0, 0));
  z-index: 1;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 215px;
}

.content p {
  font-family: 'Industry-Light';
  font-size: 1.25em;
  color: rgb(241, 241, 241);
  text-align: center;
  margin: 0%;
}

.content button {
  display: block;
  font-family: 'Industry-Bold';
  font-size: 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 1px solid #50C878;
  padding: 10px 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 6px;
  transition: .5s;
}

.content button:hover {
  background-color: #50C878;
  color: rgb(0, 0, 0);
  transition: .5s;
  transform: translate(0px, -6px);
  scale: 1.1;
}